<p id="notice"><%= notice %></p>

<h1>Miscroposts</h1>

<table>
  <thead>
    <tr>
      <th>Context</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @miscroposts.each do |miscropost| %>
      <tr>
        <td><%= miscropost.context %></td>
        <td><%= miscropost.user_id %></td>
        <td><%= link_to 'Show', miscropost %></td>
        <td><%= link_to 'Edit', edit_miscropost_path(miscropost) %></td>
        <td><%= link_to 'Destroy', miscropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Miscropost', new_miscropost_path %>
